footer {
    position: relative;
    z-index: 999999999999999999999;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    background-color: #FFC000;
}